node_modules
dist/*.js
dist/*.css
dist/*/
dist/*.txt
dist/*.map
*cache
*.blend1
.log

# splash screen and icon for Capacitor (through cordova-res)
# Generated in Makefile
/resources

# See https://stackoverflow.com/questions/5533050/
/android/*
/android/app/*
/android/app/src/*
/android/app/src/main/*

!/android/app/
!/android/app/src/
!/android/app/src/main/
!/android/app/src/main/AndroidManifest.xml
