:root {
  --background-color: #fff;
  --dark-color: #0e0715;
  --foreground-color: #4c4059;
}
body {
  font-family: "Inter", "Noto Sans CJK TC", sans-serif;
  display: grid;
  margin: 3rem 3rem;
  grid-template-rows: auto auto;
  grid-row-gap: 2rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  /* Avoid flash of unrendered content; cleared by JS */
  /* Don't worry about noscript as this whole thing requires JS */
  opacity: 0;
  transition: opacity 100ms ease;
}
#location,
#aqi {
  font-weight: 700;
  color: var(--dark-color);
}
/* Used for section title */
h2 {
  font-size: 100%;
  display: none;
}
#aqi {
  font-size: 8rem;
  line-height: 1;
  margin: 0;
}
#other-meta td:nth-child(1) {
  width: 7rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 650px) {
  html {
    font-size: 16pt;
  }
  body {
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 2fr) 1fr;
  }
  footer {
    grid-column: 1/1;
  }
  h2 {
    display: unset;
  }
}
@media (min-width: 800px) {
  body {
    max-width: 40rem;
    margin-top: 5rem;
    margin-left: min(20%, 10rem);
  }
}
