:root {
  --background-color: #fff;
  --dark-color: #0e0715;
  --foreground-color: #4c4059;
}
body {
  font-family: "Inter", "Noto Sans CJK TC", sans-serif;
  display: grid;
  margin: 3rem 3rem;
  grid-template-rows: auto auto;
  grid-row-gap: 2rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  /* Avoid flash of unrendered content; cleared by JS */
  /* Don't worry about noscript as this whole thing requires JS */
  opacity: 0;
  transition: opacity 100ms ease;
}
#location,
#aqi {
  font-weight: 700;
  color: var(--dark-color);
}
#aqi {
  font-size: 8rem;
  line-height: 1;
}
#other-meta td:nth-child(1) {
  width: 6rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  body {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
  footer {
    grid-column: 1/1;
  }
}
@media (min-width: 1000px) {
  body {
    max-width: 1000px;
    margin: 5rem 30%;
  }
}
