#locate {
  position: fixed;
  right: 1.5rem;
  bottom: 2rem;
  border-radius: 50%;
  padding: 1rem;
  background: var(--foreground-color);
  color: var(--background-color);
  * {
    vertical-align: middle;
  }
}

#aqi {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  vertical-align: top;
  color: inherit;
  &::after {
    vertical-align: top;
    content: "●";
    margin-left: 0.25rem;
    font-size: 1rem;
    color: var(--foreground-color);
  }
}

@media (min-width: 650px) {
  #aqi {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #locate {
    position: inherit;
    right: unset;
    bottom: unset;
    border-radius: unset;
    padding: unset;
    background: inherit;
    color: inherit;
    vertical-align: middle;
    * {
      vertical-align: initial;
    }
  }
}
