#aqi {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  vertical-align: top;
  color: inherit;
  &::after {
    vertical-align: top;
    content: "●";
    margin-left: 0.25rem;
    font-size: 1rem;
    color: var(--foreground-color);
  }
}

@media (min-width: 650px) {
  #aqi {
    grid-column: 1/1;
    grid-row: 2/2;
  }
}
