@import "status";

html {
  /* Use Inter for now */
  font-family: "Inter", "Noto Sans CJK TC", sans-serif;
}

:root {
  --background-color: hsl(0, 0%, 89%);
  --dark-color: #000;
  --foreground-color: #000;
}

a {
  text-decoration: none;
  font-weight: 400;
}
.notready {
  /* Avoid flash of unrendered content; cleared by JS */
  /* Don't worry about noscript as this whole thing requires JS */
  opacity: 0;
  transition: opacity 100ms ease;
}
body {
  display: grid;
  margin: 3rem 2rem;
  grid-template-rows: auto auto auto;
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition: opacity 100ms ease, background-color 400ms ease;
}
footer {
  margin-bottom: 2rem;
}
h2,
#aqi {
  font-weight: 700;
  color: var(--dark-color);
}
#refresh {
  color: var(--foreground-color);
}
h2 {
  font-size: 100%;
  margin: 0 0 0.5rem 0;
}
#aqi {
  font-size: 8rem;
  line-height: 1;
  margin: 0;
}
#station-list-ul {
  list-style: none;
  padding: 0 1rem;
  border-radius: 4px;
  box-shadow: 0 0 2rem #0000002b;
  border: solid 1px #0000002b;
}
/* Station list separators: border-bottom on all elements except last */
#station-list-ul li:nth-last-child(1) .item {
  border: unset;
}
li.item {
  font-weight: 700;
  color: var(--dark-color);
}
a.item {
  color: inherit;
  border-bottom: solid 1px #0000002b;
  text-decoration: none;
}
.item {
  display: flex;
  justify-content: space-between;
  line-height: 2.4;
  margin: 0;
}
.item :nth-child(2),
.item :nth-child(3),
.item :nth-child(4) {
  text-align: center;
}
.item :nth-child(3),
.item :nth-child(4) {
  display: none;
}
#other-title {
  visibility: hidden;
}
#other-meta td:nth-child(1) {
  width: 7rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 650px) {
  html {
    font-size: 16pt;
  }
  body {
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 1.5fr) 1fr;
  }
  #other-title {
    visibility: visible;
  }
  #aqi {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #other-meta {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  #station-list {
    grid-column: 1/3;
  }
  .item :nth-child(1) {
    width: 60%;
  }
  .item :nth-child(2),
  .item :nth-child(3),
  .item :nth-child(4) {
    width: 3rem;
  }
  .item :nth-child(3),
  .item :nth-child(4) {
    display: unset;
  }
  footer {
    grid-column: 1/1;
  }
  h2 {
    display: unset;
  }
}
@media (min-width: 900px) {
  body {
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 2fr) 1fr;
    max-width: 40rem;
    margin-top: 5rem;
    margin-left: min(15%, 15rem);
    margin-right: min(15%, 10rem);
  }
}
