@import "status";
@import "station-list";
@import "aqi";

$cjk-fallback: "Noto Sans CJK TC", "Microsoft Jhenghei";

html {
  font-family: "Fira Sans", $cjk-fallback, sans-serif;
}

:root {
  --background-color: #dcebf4;
  --foreground-color: #052124;
}

button {
  font-family: inherit;
  font-weight: inherit;
  text-align: inherit;
  color: inherit;
  font-size: inherit;
  border: unset;
  background: unset;
  cursor: pointer;
  padding: 0;
  &:active {
    background: none;
    color: var(--foreground-color);
  }
}

.sorting {
  &.asc::after,
  &.desc::after {
    font-size: 60%;
    vertical-align: middle;
    margin-left: 0.25rem;
  }
  &.asc::after {
    content: "▲";
  }
  &.desc::after {
    content: "▼";
  }
}

$cjk-fallback: "Noto Sans CJK TC", "Microsoft Jhenghei";
$main-color: #cdadff;

html {
  font-family: "Fira Sans", $cjk-fallback, sans-serif;
}

:root {
  --background-color: #ffffff;
  --foreground-color: #212121;
}

.station > button,
.btn,
a {
  &:hover {
    background: #cdadff40;
  }
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
  vertical-align: baseline;
  // TIL. Learned from clig.dev.
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
  &:focus-visible {
    outline: solid 0.1rem;
    text-decoration: none;
    background: var(--foreground-color);
    color: var(--background-color);
  }
}

.notready {
  /* Avoid flash of unrendered content; cleared by JS */
  /* Don't worry about noscript as this whole thing requires JS */
  opacity: 0;
  transition: opacity 100ms ease;
}
body {
  background: var(--background-color);
  color: var(--foreground-color);
  display: grid;
  margin: 3rem 2rem;
  grid-template-rows: auto auto auto;
  transition: opacity 100ms ease, background-color 400ms ease;
}
footer {
  margin-bottom: 2rem;
}
h2#location {
  margin: 0;
}
#refresh {
}
h2 {
  font-weight: 700;
  font-size: 100%;
  margin: 0 0 0.5rem 0;
}
#other-title {
  visibility: hidden;
}
#other-meta td:nth-child(1) {
  width: 7rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 650px) {
  html {
    font-size: 16pt;
  }
  body {
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 1.5fr) 1fr;
  }
  #other-title {
    visibility: visible;
  }
  #other-meta {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  footer {
    grid-column: 1/1;
  }
  h2 {
    display: unset;
  }
}

@media (min-width: 900px) {
  body {
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 2fr) 1.25fr;
    max-width: 40rem;
    margin-top: 5rem;
    margin-left: min(15%, 15rem);
    margin-right: min(15%, 10rem);
  }
}
