/* 良好 */
.good {
  --foreground-color: #60d060;
}
/* 普通 */
.okay {
  --foreground-color: #dfe12e;
}
/* 對敏感族群不健康 */
.meh {
  --foreground-color: #f7b140;
}
/* 對所有族群不健康 */
.bad {
  --foreground-color: #ed563e;
}
/* 非常不健康 */
.verybad {
  --foreground-color: #ba6fdc;
}
/* 危害 */
.dangerous {
  /* Official colors use Dark Red for this, but that's a bit hard to*/
  /* distinguish from Bad */
  --foreground-color: #000;
}
/* Set a default */
.good,
.okay,
.meh,
.bad,
.verybad,
.dangerous {
  color: var(--foreground-color);
}
